.animated-menu {
  animation: dropDown 0.5s ease-out normal;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-slide-in {
  animation: slideInFromLeft 0.5s ease normal;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 1s ease-in-out normal;
}

@keyframes slideUp {
  0% {
    transform: translateY(77vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 1s ease-in-out normal;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUpImage {
  animation: slideUpImage 1s ease-in-out;
}

@keyframes slideUpImage {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-button {
  animation: slideAndShrink 1s ease-out forwards;
}

@keyframes slideAndShrink {
  0% {
    transform: translateX(-50vw) scale(1.5);
    opacity: 1;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}


 @keyframes slideUpAndAppear {
   0% {
     transform: translateY(100px) scale(1);
     opacity: 0;
   }
   100% {
     transform: translateY(0) scale(1);
     opacity: 1;
   }
 }
 
  .animated-from-bottom {
   animation: slideUpAndAppear 1s ease-out forwards;
 }
 

 @keyframes slideUp {
   0% {
     transform: translateY(39vh);
     opacity: 0;
   }
   100% {
     transform: translateY(0);
     opacity: 1;
   }
 }
 
 .animate-slideUp-image {
   animation: slideUp 1.2s ease-out forwards;
 }
 